<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @job.details %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @job.driver %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
