<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @car.details %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @car.location %>
</p>

<p>
  <strong>Job:</strong>
  <%= @car.job %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
